*.cache
*.suo
*.user
*.ncrunchproject
*.ncrunchsolution
*.nupkg

_ReSharper.Caches
_ReSharper.SwizzleMyVectors
packages

SwizzleMyVectors/obj
SwizzleMyVectors/bin

SwizzleMyVectors.Test/obj
SwizzleMyVectors.Test/bin
