*.cache
*.suo
*.user
*.ncrunchproject
*.ncrunchsolution
*.nupkg

.vs
_ReSharper.Caches
_ReSharper.SwizzleMyVectors
packages

SwizzleMyVectors/obj
SwizzleMyVectors/bin

SwizzleMyVectors.Test/obj
SwizzleMyVectors.Test/bin
/SwizzleMyVectors/push-all.ps1
